{% extends 'main/base2.html' %}
{% block navbar %}


<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {{form.username}}
                        {{form.password}}
                        <!-- <input type="text" name="username" placeholder="name" />
                        <input type="password" name="email" placeholder="password" /> -->
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default" value="Login">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            
            </div>
        </div>
    </div>
</section><!--/form-->


{% endblock %}






